footer{
	background-color: #464646;

	.footer-nav__col{
		position: relative;
		
		@media (max-width:768px) {
			margin: 20px 0px 10px;
		}

		@media (max-width:575px) {
			margin: 20px 50px;
		}
		@media (max-width:480px) {
			margin: 15px 30px;
		}

		.footer-nav__main{
			padding-bottom: 10px;
			h5, h4{
				font-size: 19px;
				font-weight: 600;
				letter-spacing: .5px;
				color: #bbb;

				@media (max-width:575px) {
					cursor: pointer;
				}
			}
		}
		
		.footer-nav__sub{
			overflow: hidden;
			@media (max-width:575px) {
				height: 0;
			}

			a{
				color: white;
				&:hover{
					color:#999;
				}
			}

		}
		
		img.toggleBtn{
			padding: 10px;
			fill: white !important;
			position: absolute;
			top: 0;
			right: 0px;
			width: 35px;
			cursor: pointer;
		}
	}

	p.disclaimer{
		font-size: 12px;
		margin-bottom: 5px;
	}
}