@mixin Activate ($theme-color, $max-width, $button-padding:20px) {
  

  .title__wrapper {

    .headline {
      padding-left: 30px;
      padding-right: 30px;

      @media (max-width:480px) {
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
      }

      h1 {
        font-size: 40px;
        line-height: 50px;

        @media (max-width:768px) {
          font-size: 35px;
          line-height: 45px;
          margin-top: 0px;
          margin-bottom: 0px;
        }
      }
    }

    .subheadline {
      padding-left: 30px;
      padding-right: 30px;
      max-width: 670px;
      &.results{
        max-width: 820px;
      }
      
      h3 {
        font-size: 28px;
        line-height: 40px;

        @media (max-width:768px) {
          font-size: 25px;
          line-height: 35px;
        }
      }

      p {
        font-size: 20px;
        line-height: 32px;

        @media (max-width:768px) {
          font-size: 17px;
          line-height: 25px;
        }
      }
    }

    button {
      font-size: 20px;
      padding: 5px 20px;
      color: white;
      border: 2px transparent solid;
      position: relative;
      overflow: hidden;
      z-index: 3;

      p {
        position: relative;
        margin-bottom: 0px;
        z-index: 2;
      }
      div {
        position: absolute;
        background-color: white;
        width: 100%;
        height: 60px;
        left: 0px;
        top: 40px;
        z-index: 1;
      }
      // &.cta.results{

      // }
      &.back-to-search{
        opacity: .5;
        border: 2px solid $theme-color;
        border-radius: 0px;
        padding: 5px 20px 5px 45px;
        position: relative;
        transition: all .2s ease-out;

        #arrow{
          left: -25px;
          position: absolute;
          transition: all .2s ease-out;
        }
        &:hover{
          opacity: 1;

          #arrow{
            position: absolute;
            transform: translateX(-5px);
          }
        }
        p{
          color: $theme-color;
          padding-top: 2px;
        }
      }
    }
  }

  .search-option {
    max-width: 700px;

    button {
      box-sizing: border-box !important;
      border: 2px solid transparent;
      padding: 7px 20px;
      background: none;
      border-radius: 0;
      font-size: 20px;
      transition: all .2s ease-out;

      @media (max-width:768px) {
        padding: 7px 15px;
        font-size: 16px;
      }

      &.active {
        border: 2px solid $theme-color;
        font-family: 'Retina Medium', Arial, Helvetica, sans-serif;
        color: $theme-color;
        font-weight: 400;

      }

      &:not(.active){

      }

      &:hover {
        // background-color: $theme-color;
        color: #fff
      }
    }
  }

  select{
    border: 2px solid $theme-color;
    width: 240px;
    color: $theme-color;
    padding: 10px 10px 10px 50px;
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;

    &:focus{
      border: 2px solid $theme-color;
      outline:none !important;
    }
  }


  .activate-wrapper {
    max-width: $max-width;

    @media (max-width:575px) {
      width: 100%;
      max-width: none;
    }

    p.bodycopy {
      font-size: 18px;
    }

    form#searchform, .searchform__wrapper {
      width: 100%;

      .search-box__wrapper, .search-box__wrapper__region {
        width: 100%;
        position: relative;
        overflow: hidden;

        &.form-inner{
          display: flex;
          justify-content: center;
          @media (max-width:575px) {
            display: block;
          }
        }

        .search-box {
          font-size: 22px;
          border-radius: .25rem;

          &:focus {
            &::placeholder {
              transform: translateY(-140%);
              transition: all .15s ease-out;
            }
          }

          &:not(:focus) {
            &::placeholder {
              transform: translateY(0%);
              transition: all .1s ease-in;
            }
          }

          &::placeholder {
            color: #d3d3d3;
          }

          &:-ms-input-placeholder {
            color: #d3d3d3;
          }

          &::-ms-input-placeholder {
            color: #d3d3d3;
          }

          &:focus {
            border: 1px #999 solid;
            box-shadow: none;
          }

          @media (max-width:575px) {
            display: block;
            width: 100%;
            margin-right: 0px !important;
            margin-bottom: 10px;
          }

        }

        button#searchsubmit {
          font-size: 20px;
          padding-left: $button-padding;
          padding-right: $button-padding;
          border: 2px transparent solid;
          position: relative;
          overflow: hidden;
          z-index: 3;

          p {
            position: relative;
            margin-bottom: 0px;
            z-index: 2;
          }

          div {
            position: absolute;
            background-color: white;
            width: 250px;
            height: 60px;
            left: -5px;
            // top: -5px;
            top: 50px;
            z-index: 1;

            @media (max-width:575px) {
              left: 0px;
              display: block;
              width: 100%;
            }
          }

          @media (max-width:575px) {
            display: block;
            width: 100%;
          }
        }


      }

      #datafetch{
        p{
          font-size: 20px;
          margin-bottom: 0px;
          a{
            text-decoration: none !important;
            &:hover{
              color: $theme-color;
            }
          }
        }
      }

      select#state{
        width: 300px;
        height: 47px;
        padding-left: 20px;
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 20px;
        margin: 0px;
        border-radius: .25rem;

        @media (max-width:575px) {
          width: 100%;
        }
      }
    }

    // SEARCH RESULTS PAGE

    ul.list-unstyled{
      margin: 0 auto;
      text-align: center;
      max-width: 530px;

      li.school-result{
        border-radius: 7px;
        background-color: $theme-color;
        margin: 30px 0;
      
        a{
          box-sizing: content-box;
          padding: 12px 20px 14px;
          border: 2px transparent solid;
          font-size: 25px;
          color: white;
          display: block;
          transition: all .17s ease-out;

          @media (max-width:575px) {
            font-size: 17px;            
          }
      
          &:hover{
            color: $theme-color;
            border-radius: 7px;
            background-color: white;
            border: 2px $theme-color solid;
          }
        }
      }
    }

    .extra-note {
      font-size: 20px;
      color: #373737;

      a {
        text-decoration: underline !important;
        color: $theme-color;
      }
    }
  }
}

#professors {
  .activate {
    @include Activate ($pro-color, 480px)
  }
}

#search.students {
  .activate {
    @include Activate ($stu-color, 760px, 50px)
  }
}

#search.professors {
  .activate {
    @include Activate ($pro-color, 760px, 50px)
  }
}

#search.universities {
  .activate {
    @include Activate ($uni-color, 760px, 50px)
  }
}

#faq.students {
  .activate {
    @include Activate ($stu-color, 760px, 50px)
  }
}

#faq.professors {
  .activate {
    @include Activate ($pro-color, 760px, 50px)
  }
}

#faq.universities {
  .activate {
    @include Activate ($uni-color, 760px, 50px)
  }
}

#students.searchresults {
  .activate {
    @include Activate ($stu-color, 760px, 50px)
  }
}

#professors.searchresults {
  .activate {
    @include Activate ($pro-color, 760px, 50px)
  }
}